<template>
    <main class="content">
        <h1>
            Results
        </h1>
        <h3>
            Congratulations, you got {{ correctAnswers }} questions correct!
        </h3>
        <h4>
            Thats {{ correctAnswers * 10 }} points!
        </h4>
        <button class="btn btn-outline-primary btn-lg" @click="start">
            Start
        </button>
        <button class="btn btn-outline-primary btn-lg" @click="playAgain">
            Replay
        </button>
        <div>
            <h4 class="summaryHeading">
                Question summary:
            </h4>
            <ul v-for="q of sum" :key="q.id">
                <div v-html="q.question" class="questions">
                    Question: {{ q.question }}
                </div>
                <div v-if="q.correct == q.answered" class="text-success" v-html="q.answered">
                    You answered: {{ q.answered }}
                </div>
                <div v-if="q.correct != q.answered" class="text-danger" v-html="q.answered">
                    You answered: {{ q.answered }}
                </div>
                <div v-if="q.correct != q.answered" class="text-success" v-html="q.correct">
                    Correct answer: {{ q.correct }}
                </div>
            </ul>
        </div>
    </main>
</template>

<script>


export default {

    methods: {
        start() {
            this.$router.push("/start")
        },
        playAgain() {
            this.$router.push("/questions")
        }
    },

    created() {
        const correctAnswers = JSON.parse(localStorage.getItem('correct-answers'));

        if (correctAnswers === null) {
                this.$router.push("/");
                return;
        }

        this.correctAnswers = correctAnswers.correctAnswers;

        const summary = JSON.parse(localStorage.getItem('summary'));

        this.sum = summary.sum
    },

    data() {
        return {
            sum: []
        }
    }

}
</script>

<style scoped>
    button {
        margin: 20px;
        margin-left: 0px;
    }

    .content {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .questions {
        font-style: oblique;
        font-weight: bold;
    }

    .summaryHeading {
        margin: 20px;
        margin-left: 0;
    }
</style>