<template>
    <main>
        <h3 v-html="question">
            {{ question }}
        </h3>
    </main>
</template>

<script>


export default {
    props: {
        question: String,
    },

    name: "QuestionText"

}
</script>
