<template>
    <main>
        <div v-if="type == 'boolean'">
            <button @click="onAltClicked('True')" class="btn btn-outline-success btn-lg">
                True
            </button>
            <button @click="onAltClicked('False')" class="btn btn-outline-danger btn-lg">
                False
            </button>
        </div>
        <div v-if="type == 'multiple'">
            <button 
                v-for="alternative of incorrect" 
                :key="alternative" 
                @click="onAltClicked(alternative)" 
                v-html="alternative" 
                class="btn btn-outline-primary btn-sm"
            >
                {{ alternative }}
            </button>
            <button @click="onAltClicked(correct)" 
                v-html="correct" 
                class="btn btn-outline-primary btn-sm"
            >
                {{ correct }}
            </button>
        </div>
    </main>
</template>

<script>


export default {
    props: {
        type: String,

        correct: String,

        incorrect: Array
    },

    name: "QuestionAlternatives",

    methods: {
        onAltClicked(alt) {
            this.$emit('alternative-clicked', alt)
        }
    },
}
</script>

<style scoped>
    button {
        margin: 10px;
    }
</style>
