<template>
    <main class="content">
        <h1>Question {{ questionCounter + 1 }}</h1>
        <div>
            <QuestionText 
                :question="question"
            />
            <QuestionAlternatives 
                :type="type"
                :correct="correct_answer"
                :incorrect="incorrect_answers"
                @alternative-clicked="handleAlternativeClicked"
            />
        </div>
    </main>
</template>

<script>
import {
    fetchQuestions
} from '../../api/questions.js'

import QuestionText from './QuestionText';
import QuestionAlternatives from './QuestionAlternatives';

export default {

    components: {
        QuestionText,
        QuestionAlternatives,
    },

    methods: {
        handleAlternativeClicked(alt) {
            if (alt == this.correct_answer) {
                this.correctAnswers++;
                this.sum.push(
                    {
                        question: this.question,
                        correct: alt,
                        answered: alt,
                        id: this.questionCounter
                    }
                )
                
            } else {
                this.sum.push(
                    {
                        question: this.question,
                        correct: this.correct_answer,
                        answered: alt,
                        id: this.questionCounter
                    }
                )
            }
            this.questionCounter++;
            if (this.questionCounter == this.numQuestions) {
                localStorage.setItem('correct-answers', JSON.stringify({
                    correctAnswers: this.correctAnswers,
                }))

                localStorage.setItem('summary', JSON.stringify({
                    sum: this.sum
                }))

                this.$router.push("/results")
            }

            else {
                this.question = this.questions[this.questionCounter].question;
                this.type = this.questions[this.questionCounter].type;
                this.correct_answer = this.questions[this.questionCounter].correct_answer;
                this.incorrect_answers = this.questions[this.questionCounter].incorrect_answers;
            }
        }
    },

    name: "Question",

    async mounted() {
        const config = JSON.parse(localStorage.getItem('questions-config'))
    
        this.difficulty = config.difficulty;
        this.numQuestions = config.numQuestions;
        this.category = config.category;

        if (config === null) {
            this.$router.push("/");
            return;
        }

        try {
            this.questions = await fetchQuestions(this.numQuestions, this.category, this.difficulty)
                .then(res => res.results)
        } catch(error) {
            console.log(error.message);
        }

        this.question = this.questions[this.questionCounter].question;
        this.type = this.questions[this.questionCounter].type;
        this.correct_answer = this.questions[this.questionCounter].correct_answer;
        this.incorrect_answers = this.questions[this.questionCounter].incorrect_answers;

    },

    data() {
        return {
            questionCounter: 0,
            correctAnswers: 0,
            question: "",
            type: "",
            correct_answer: "",
            incorrect_answers: [],
            sum: []
        }
    }
}
</script>

<style scoped>
    .content {
    position: absolute;
    left: 10%;
    top: 30%;
    margin-right: 10%;
}
</style>
