<template>
    <div class="content">
        <h1 class="healine">
            Trivia
        </h1>
        <form @submit.prevent="clickStart" class="mb-3">
            <fieldset class="mb-3">
                <select required class="form-select" v-model="selectedDifficulty">
                    <option value="" disabled selected hidden>Select difficulty</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </fieldset>
            <fieldset class="mb-3">
                <input required min="1" class="form-control" type="number" placeholder="Number of questions" v-model="numberOfQuestions">
            </fieldset>
            <fieldset class="mb-3">
                <select required class="form-select" v-model="selectedCategory">
                    <option value="" disabled selected hidden>Select category</option>
                    <option 
                        v-for="category of categories"
                        :key="category.id"
                        :value="category.id"
                    > {{ category.name }} </option>
                </select>
            </fieldset>
            <button id="startTrivia" type="submit" class="btn btn-outline-primary btn-lg">
                Start trivia
            </button>
        </form>
    </div>
</template>

<script>

import {
    fetchCategories,
} from "@/api/questions.js"
// import { MOCK_CATEGORIES } from "@/mocks/categories.mock"

export default {

    methods: {
        clickStart() {

            localStorage.setItem('questions-config', JSON.stringify({
                difficulty: this.selectedDifficulty,
                numQuestions: this.numberOfQuestions,
                category: this.selectedCategory
            }))

            this.$router.push("/questions")
        }
    },

    async mounted() {
        try {
            this.categories = await fetchCategories();
        } catch (error) {
            console.log(error.message);
        }
    },

    data() {
        return {
            categories: [],
            selectedDifficulty: "",
            selectedCategory: "",
            numberOfQuestions: 0
        }
    }
}
</script>

<style>
.content {
    position: absolute;
    left: 10%;
    top: 30%;
}
.startScreenSelectors {
    display: grid;
    margin: 10px;
}
</style>